*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.switch{
    position: relative;
    display: block;
    width: 120px;
    height: 80px;
    margin: 0 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .5s;
    border-radius: 40px;
}
.switch input{display: none;}
.slider::before{
    position: absolute;
    content: "";
    height: 70px;
    width: 70px;
    left: 5px;
    bottom: 5px;
    background-color: #fff;
    transition: .5s;
    border-radius: 40px;
}
input:checked+.slider{
    background-color: blue;
}

input:checked+.slider::before{
    transform: translateX(40px);
}